@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {padding: 0; margin: 0; vertical-align: top; box-sizing: border-box; scroll-behavior: smooth;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'TheJamsil5Bold'; overflow-x: hidden;}

/* header */
header {width: 100%; height: 150px; box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); user-select: none; top: 0; z-index: 10;}

.util {width: 100%; height: 50px;}
.util_menu {display: flex; justify-content: end; background-color: rgba(100, 149, 237, 1); transition: all 0.3s;}
.util_menu>li {width: 80px; height: 50px; cursor: pointer;}
.util_menu>li>a {display: inline-block; padding-top: 15px;}
.util_menu>li:hover>a {opacity: 0.3; transition: all 0.3s;}

.menu{width: 100%; height: 100px; display: flex; justify-content: space-between; background-color: rgba(255, 255, 255, 1); transition: all 0.3s;}
.menu_left {width : 100%; height: 100px;}
.menu_left a {display: inline-block; padding: 40px; font-size: 1.5em;}

.menu_center {width: 100%; text-align: center;}
.menu_center>nav>ul{width: 100%; display: flex; justify-content: space-around; margin-top: 50px;}
.menu_center>nav>ul>li {width: 100px;}
.menu_center>nav>ul>li>a {width: 100px; height: 50px; line-height: 50px; display: inline-block;}
.menu_center>nav>ul>li:hover>a {background-color: #b8e5ff; transition: all 1s;}

.menu-right {width: 100%; display: flex; justify-content: end;}
.menu-right>a{display: inline-block; padding: 40px; font-size: 1.5em;}
.menu-right .menu_close {display: none;}

/* section */
section{ width: 1200px; margin: 0 auto;}

/* section1 */
.section1 {width: 100%; height: 100vh; }
.slide_box {width: 100%; margin-top: 100px; }
.swiper { width: 100%; height: 600px;}
.swiper .swiper-slide img {  width: 100%; height: 100%; }

/* section2 */
.section2 {width: 100%; height: 100vh; position: relative;}
.card_box {width: 100%; height: 60%; position: absolute; top: 50%; left: 50%; background-color: rgb(164, 196, 255); transform: translate(-50%, -50%); display: flex; justify-content: space-around; align-items: center; text-align: center; border-radius: 10px;}
.card{width: 30%; height: 500px; background-color: white; border-radius: 20px; overflow: hidden; box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);}
.card img {width: 100%;}
#card_img {width: 100%; height: 250px;}
#card_title {width: 100%; height: 80px; line-height: 80px;}
#card_content {width: 100%; height: 50px; text-align: left;}
#card_content p {padding-left: 10px;}
#card_foo {width: 100%; height: 120px; position: relative;}
#card_foo>ul {width: 100%; display: flex; justify-content: space-between; font-size: 1.2em;}
#card_foo>ul>li {padding: 20px; position: absolute; bottom: 0;}
#card_foo>ul>li:first-of-type {color: rgba(0, 0, 0, 0.3); font-weight: bold; }
#card_foo>ul>li:last-of-type {right: 0;}

/* section3 */
.section3 {position: relative; width: 100%; height: 100vh;}
.content1_box {width: 100%; height: 500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white;}
.content1_box>ul {display: flex; text-align: center;}
.content1_box>ul>li:first-of-type {width: 50%; overflow: hidden;}
.content1_box>ul>li:first-of-type>img {width: 500px; height: 500px; object-fit: cover;}
.content1_box>ul>li:nth-of-type(2) {width: 50%; height: 100%; }
.content1_title {width: 80%; padding-left: 80px; height: 200px; line-height: 200px; text-align: left;}
.content1_text {width: 80%; padding-left: 80px; height: 200px; font-size: 1em; text-align: left;}
.content1_button {width: 100%; height: 100px; text-align: right;}
.content1_button button {border: none; width: 100px; height: 40px; border-radius: 12px; background-color: cornflowerblue; margin: 40px 10px 0 0; cursor: pointer;}

/* section4 */
.section4 {width: 100%; height: 100vh; position: relative;}
.content2_box{width: 100%; height: 500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #b8e5ff;}
.content2_box>ul {display: flex;}
.content2_box>ul>li:first-of-type {width: 50%; height: 100%; }
.content2_box>ul>li:nth-of-type(2) {width: 50%; height: 100%; }
.content2_img_box { height: 100%; margin: 50px;}
.content2_img_box>img {width: 400px; height: 400px; margin: 0 auto; object-fit: cover;}
.content2_title {width: 80%; margin-left: 80px; height: 200px; line-height: 200px; text-align: left;}
.content2_text {width: 80%; margin-left: 80px; height: 200px; font-size: 1em; text-align: left;}
.content2_button {width: 100%; height: 100px; text-align: right;}
.content2_button button {border: none; width: 100px; height: 40px; border-radius: 12px; background-color: cornflowerblue; margin: 0 10px 0 0; cursor: pointer;}

/* footer */
footer {width: 100%; height: 400px; background-color: rgb(31, 31, 31); position: relative; bottom: 0;}
.foo_wrap {width: 100%;}
.foo_top {width: 100%; height: 350px; display: flex;}
.foo_left {width: 80%; color: white;}
.foo_left>ul {display: flex; justify-content: end; margin-top: 50px; margin-right: 150px;}
.foo_left>ul li a{font-size: 1em; display: inline-block; width: 200px; height: 70px; line-height: 50px;}

.foo_right {width: 20%;}
.foo_right select {width: 130px; height: 30px; border: none; border-radius: 5px; text-align: center; margin-top: 50px;}

.copy {width: 100%; height: 50px; line-height: 50px; text-align: center; color: white;}
.copy p {width: 100%; }


/* mobile */
.mobile_header {width: 100%; height: auto; display: none; position: absolute; z-index: 10; background-color: white; top: 150px}
.mobile_header>ul {width: 100%;}
.mobile_header>ul>li {width: 100%; height: 50px; line-height: 50px; text-align: center; border-bottom: 1px solid rgba(201, 201, 201, 0.5);}
.mobile_header>ul>li>a {display: block;}
.mobile_header>ul>li:hover {background-color: rgba(162, 203, 255, 0.2); transition: all 0.5s;}

/* top버튼 */
.top_btn {width: 50px; height: 50px; position: fixed; right: 50px; bottom: 50px; z-index: 10; display: none;}
.top_btn>a {display: block;}
.top_btn img {width: 100%;}

@media screen and (max-width: 1200px) {
    section {width: 100%;}
}
/*  가로 950 이하  */
@media screen and (max-width: 950px) {
    /* slide 영역 */
    .slide_box { margin-top: 30px;}

    .card_box {width: 100%; height: 500px;}
    .card {height: 400px;}
    #card_img {height: 150px;}
    #card_img img{width: 100%; height: 100%;}
    #card_content {height: 50px;}
    #card_foo {height: 120px;}

    .content1_box>ul>li:first-of-type>img { height: 500px; }

    .content2_img_box>img {width: 100%; height: 400px; }
    .foo_left>ul>li {width: 150px;}
    .foo_left>ul {text-align: center; font-size: 0.8em;}
}

@media screen and (max-width: 780px){
    .menu_center {visibility: hidden;}
    .swiper { width: 100%; height: 50vh; margin: 0 auto;}
    .swiper .swiper-slide img {  width: 100%; height: 100%; }
    .section1 {width: 100%; height: 50vh; }
    #card_title,#card_content,#card_foo {font-size: 0.8em;}

    .content1_title, .content1_text {font-size: 0.9em;}
}

@media screen and (max-width: 540px){
    .card_box {width: 100%; height: 300px;}
    .card {height: 250px;}
    #card_img, #card_content, #card_foo {font-size: 0.5rem;}
    #card_img {height: 100px;}
    #card_img img{width: 100%; height: 100%;}
    #card_title {height: 50px; line-height: 50px;}
    #card_content {height: 50px;}
    #card_foo {height: 50px;}

    .content1_title {width: 100%; padding-left: 20px;}
    .content1_text {width: 100%; padding-left: 20px;}

    .content2_title {width: 100%; margin-left: 30px;}
    .content2_text {width: 100%; margin-left: 30px;}
    .foo_right select {width: 85px;}
    .foo_left>ul {margin-right: 60px;}
    .foo_left>ul li a {width: 120px;}
}

@media screen and (max-width: 540px){
    .foo_right select {width: 60px; font-size: 0.8em;}
}
@media screen and (max-width: 414px) {
    .section2{height: 50vh;}
    .section3{height: 60vh;}
    .section4{height: 60vh;}
    header{ background-color: white;}
    .menu {width: 50%;}
    .section2 {height: 50vh;}
    .content1_box {height: 350px;}
    .content1_box>ul>li:first-of-type>img {width: 220px; height: 350px;}
    .content1_box>ul>li{height: 100%;}
    .content1_box>ul {height: 100%;}
    .content1_title {padding-left: 10px; font-size: 0.7em; height: 100px; line-height: 100px; }
    .content1_text {font-size: 0.7em; height: 160px;}
    .content2_box {height: 350px;}
    .content2_box>ul {height: 100%;}
    .content2_box>ul>li {height: 100%;}
    .content2_title {height: 130px; line-height: 130px; font-size: 0.7em;}
    .content2_text {height: 150px; font-size: 0.7em;}
    .content2_img_box {height: 100%; margin: 0;}
    .content2_img_box>img {width: 100%; height: 100%;}
    .foo_top{display: block;}
    .foo_left {width: 100%; padding-top: 1px;}
    .foo_left>ul {margin-right: 0;}
    .foo_right{width: 100%; text-align: center;}
    #familly_site {width: 200px;}
}